*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.white-color{
    color: white;
}
.black-color{
    color: black;
}
.header{
    background-image: url('Assets/bg1.png');
    height: 100%;
    width: 100%;
    padding: 50px 50px;
}

/* --------Nav Area--------- */
.header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}
.header nav .menu ul{
    display: flex;
    gap: 30px;
}
.header nav .menu ul li{
    list-style: none;
    font-family: sans-serif;
    font-weight: 600;
}
.header nav .search{
    position: relative;
}
.header nav .search .search-input{
    width: 130px;
    height: 30px;
    border-radius: 30px;
    border: none;
    outline: none;
}
.header nav .search .search-icon{
    position: absolute;
    top: 7px;
    right: 15px;
    cursor: pointer;
}

/* -------header text area------- */

.header .content{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.header .content .textArea{
    width: 35%;
    height: 100%;
}
.header .content .textArea .logo{
    height: 100px;
    width: 100px;
    margin-left: 30px;
}
.header .content .textArea .logo img{
    height: 100%;
    width: 100%;
}
.header .content .textArea .text{
    height: 150px;
    width: 400px;
}
.header .content .textArea .text img{
    height: 100%;
    width: 100%;
}
.header .content .textArea .info{
    margin-top: 20px;
}
.header .content .textArea .info h3{
    font-family: sans-serif;
    font-style: italic;
    margin-left: 30px;
}
.header .content .textArea .info button{
    height: 25px;
    width: 150px;
    border: none;
    border-radius: 10px;
    margin: 30px 0 0 30px;
}
.header .content .textArea .info p{
    margin: 20px 0 0 30px;
    font-family: sans-serif;
    font-style: italic;
    text-align: justify;
}

/* --------header food image area------- */

.header .content .foodArea{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.header .content .foodArea .plate{
    height: 450px;
    width: 450px;
}
.header .content .foodArea .plate img{
    height: 100%;
    width: 100%;
}
.header .content .foodArea .bowl{
    height: 150px;
    width: 130px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.header .content .foodArea .bowl img{
    height: 100%;
    width: 100%;
}
.header .content .foodArea .leef{
    height: 300px;
    width: 350px;
    position: absolute;
    right: -50px;
    bottom: -140px;
    overflow: hidden;
}
.header .content .foodArea .leef img{
    height: 100%;
    width: 100%;
}

/* --------Second Page-------- */

.page-2{
    margin: 50px 0;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.page-2 .headText{
    height: 80px;
    width: 450px;
    align-self: center;
}
.page-2 .headText img{
    height: 100%;
    width: 100%;
}
.page-2 .paraText{
    margin-top: 20px;
    align-self: center;
}
.page-2 .paraText p{
    width: 450px;
    text-align: center;
}
.page-2 .imgContent{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.page-2 .imgContent .food-content{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-2 .imgContent .food-content img{
    height: 75%;
    width: 100%;
}
.page-2 .imgContent .food-content .food-info h5{
    font-family: sans-serif;
}
.page-2 .imgContent .food-content .food-info p{
    font-family: sans-serif;
    padding-top: 10px;
}
.page-2 button{
    margin-top: 50px;
    width: 160px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    border-radius:20px;
    align-self: center;
}

/* ---------page-3--------- */

.page-3{
    background-image: url('Assets/bg3.png');
    height: 60vh;
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.page-3 .lorem-image{
    height: 120px;
    width: 450px;
    padding-top: 20px;
}
.page-3 .lorem-image img{
    height: 100%;
    width: 100%;
}
.page-3 .text{
    width: 70%;
    display: flex;
    gap: 20px;
}
.page-3 .text div p{
    text-align: justify;
}
.page-3 button{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-family: sans-serif;
    font-weight: 600;
}

/* ------page-4--------- */

.page-4{
    padding: 50px;
    margin: 50px 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.page-4 .image{
    width: 40%;
    height: 100%;
}
.page-4 .image img{
    height: 100%;
    width: 100%;
}
.page-4 .text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:40px;
}
.page-4 .text h1{
    font-size: 40px;
    font-family: sans-serif;
}
.page-4 .text p{
    margin-top: 30px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 200;
}
.page-4 .text button{
    margin-top: 40px;
    height: 40px;
    width: 180px;
    font-family:sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}
.page-4 .leef{
    position: absolute;
    left: 45%;
    bottom: -10%;
    height: 50%;
    width: 40%;
}
.page-4 .leef img{
    height: 100%;
    width: 100%;
}


/* -----------page-5----------- */

.page-5{
    background-image: url('Assets/bg1.png');
    height: 110vh;
    width: 100%;
    margin: 50px 0;
    position: relative;
}
.page-5 .info {
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}
.page-5 .info .text{
    width: 50%;
    height: 15%;
}
.page-5 .info .text img{
    height: 100%;
    width: 100%;
}
.page-5 .info .line{
    width: 100px;
    height: 5px;
    background-color: white;
}
.page-5 .info p{
    width: 40%;
    text-align: center;
}
.page-5 .info .leef{
    width: 100%;
    height: auto;
    position: absolute;
    top: -50%;
    right: 0;
}
.page-5 .info .leef img{
    height: 90%;
    width: 100%;

}
.page-5 .image{
    right: 0;
}
.page-5 .image .pizza{
    width: 40%;
    height: auto;
    position: absolute;
    right: 8%;
    bottom: -10%;
}
.page-5 .image .pizza img{
    height: 100%;
    width: 100%;
    transform: scaleX(-1);
}
.page-5 .piece{
    width: 18%;
    position: absolute;
    bottom: -6%;
    left: 47%;
}
.page-5 .piece img{
    height: 100%;
    width: 100%;
    transform: scaleX(-1);
}

/* ----------page-6---------- */

.page-6{
    height: 100%;
    width: 100%;
    padding: 50px 50px;
}
.page-6 .firstinfo{
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.page-6 .firstinfo .first{
    width: 30%;
}
.page-6 .firstinfo .first .img{
    height: 60%;
    width: 70%;
}
.page-6 .firstinfo .first .img img{
    height: 100%;
    width: 100%;
}
.page-6 .firstinfo .first p{
    padding-top: 5px;
}

/* ---------- page-7 ----------- */

.page-7{
    height: 100%;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.page-7 p{
    text-align: center;
    width: 50%;
    font-family: sans-serif;
}

/* ---------- page-8 ----------- */

.page-8{
    background-image: url('Assets/bg3.png');
    height: 100%;
    width: 100%;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
}
.page-8 h1{
    font-family: sans-serif;
    font-size: 40px;
}
.page-8 p{
    width: 40%;
    text-align: center;
    font-family: sans-serif;
}
.page-8 .input{
    display: flex;
    position: relative;
}
.page-8 .input input{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0 0 0 20px;
}
.page-8 .input button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(85, 85, 85);
    font-weight: 600;
    position: absolute;
    right: -20%;
}



/* ---------- page-9 ----------- */

.footer{
    height: 100%;
    width: 100%;
    padding: 100px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bold{
    font-family: sans-serif;
    font-weight: 600;
}

.footer .first{
    width: 40%;
}

.footer .second{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footer .second .foot{
    width: 30%;
}
.footer .second .foot ul li{
    list-style: none;
    padding-top: 5px;
}


/*-------------------------------------------Responsiveness css----------------------------------- */


@media screen and (max-width:1091px){
    .header .content .foodArea .plate{
        height: 350px;
        width: 350px;
    }
    .header .content .textArea .text{
        height: 100px;
        width: 300px;
    }
    .header .content .textArea .info{
        margin-top: 10px;
    }
    .header .content .textArea .info button{
        margin: 20px 0 0 30px;
    }
    .header .content .foodArea .leef{
        height: 250px;
        width: 300px;
    }
    .page-2 .imgContent .food-content{
        height: 350px;
        width: 270px;
    }
    .page-5{
        height: 50vh;
    }
}

@media screen and (max-width:960px){
    .header .content .foodArea .plate{
        height: 300px;
        width: 300px;
    }
    .header .content .foodArea .leef{
        height: 200px;
        width: 250px;
        right: 0px;
        bottom: -110px;
    }
    .header .content .foodArea .bowl{
        height: 120px;
        width: 110px;
    }
    .page-2 .imgContent .food-content{
        height: 300px;
        width: 220px;
    }
    .page-2 .imgContent .food-content .food-info{
        padding-top: 20px;
    }
    .page-2 button{
        margin-top: 100px;
    }
    .page-4 .text{
        padding-top: 0;
    }
    .page-4 .text h1{
        font-size: 35px;
    }
    .page-5{
        height: 50vh;
    }
    .page-6 .firstinfo .first .img{
        height: 50%;
        width: 70%;
    }
    .page-6 .firstinfo .first p{
        line-height: 20px;
        font-size: 14px;
    }
    .page-7 p{
        width: 70%;
    }
}

@media screen and (max-width: 821px){
    .header .content{
      flex-direction: column;
      gap: 50px;
    }
    .header .content .textArea{
        width: 100%;
    }
    .header .content .foodArea{
        width: 100%;
    }
    .header .content .foodArea .plate{
        height: 400px;
        width: 400px;
    }
    .header .content .foodArea .bowl{
        height: 180px;
        width: 170px;
    }
    .header .content .foodArea .leef{
        height: 300px;
        width: 350px;
    }
    .page-2 .imgContent .food-content{
        height: 250px;
        width: 170px;
    }
    .page-2 .headText{
        height: 80px;
        width: 400px;
    }
    .page-3{
        padding:0 50px;
    }
    .page-3 .lorem-image{
        height: 100px;
        width: 400px;
        padding-top: 20px;
    }
    .page-3 .text{
        width: 100%;
    }
    .page-4 .text h1{
        font-size: 25px;
    }
    .page-4 .text p{
        margin-top: 15px;
        font-size: 12px;
        line-height: 15px;
    }
    .page-4 .text button{
        margin-top: 20px;
        height: 30px;
        width: 120px;
        font-size: 14px;
    }
    .page-5{
        height: 40vh;
    }
    .page-6 .firstinfo .first p{
        line-height: 15px;
        font-size: 12px;
    }
    .page-6 .firstinfo .first .img{
        height: 50%;
        width: 70%;
    } 
    .footer .first{
        width: 30%;
    }
    .footer .first p{
        font-size: 14px;
    }
    .footer .second .foot ul li{
        font-size: 14px;
    }
    .footer .second {
        width: 60%;
    }
    .footer .second .foot{
        width: 40%;
    }
}
@media screen and (max-width:721px){
    .page-5{
        height: 40vh;
    }
}
@media screen and (max-width: 621px){
    .header .content .foodArea .plate{
        height: 300px;
        width: 300px;
    }
    .header .content .foodArea .bowl{
        height: 130px;
        width: 120px;
    }
    .header .content .foodArea .leef{
        height: 200px;
        width: 250px;
    }
    .header nav{
        gap: 20px;
    }
    .header nav .search .search-input{
        width: 100px;
        height: 30px;
    }
    .header nav .menu ul li{
        font-weight: 500;
    }
    .page-2 .imgContent .food-content{
        height: 200px;
        width: 120px;
    }
    .page-2 .headText{
        height: 80px;
        width: 400px;
    }
    .page-2 .imgContent .food-content .food-info p{
        font-size: 10px;
    }
    .page-2 .imgContent .food-content .food-info h5{
        font-size: 12px;
    }
    .page-2 button{
        margin-top: 50px;
    }
    .page-4 .text h1{
        font-size: 20px;
    }
    .page-4 .text p{
        margin-top: 15px;
        font-size: 10px;
        line-height: 15px;
    }
    .page-4 .text button{
        height: 30px;
        width: 80px;
        font-size: 10px;
    }
    .page-5{
        height: 40vh;
    }
    .page-5 .info p{
        width: 90%;
    }
    .page-6 .firstinfo .first{
        width: 100%;
    }
    .page-6 .firstinfo{
        flex-direction: column;
        gap: 30px;
    }
    .page-6 .firstinfo .first .img{
        height: 50%;
        width: 50%;
    }
    .page-6 .firstinfo .first p{
        line-height: 20px;
        font-size: 14px;
    }
    .page-7 p{
        width: 100%;
        padding: 0 20px;
        font-size: 12px;
    }
    .page-8 p{
        width: 100%;
        padding: 0 20px;
    }
    .page-8 .input input{
        width: 200px
    }
    .page-8 .input button{
        width: 80px;
        font-size: 12px;
    }
    .footer{
        flex-direction: column;
        gap: 50px;
    }
    .footer .first{
        width: 100%;
    }
    .footer .second{
        width: 100%;
    }
}

@media screen and (max-width: 521px){
    .header{
        padding: 50px 20px;
    }
    .header nav{
        gap: 5px;
        justify-content: center;
    }
    .header nav .menu ul li{
        font-size: 14px;
    }
    .page-2 .imgContent{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .page-2 .imgContent .food-content{
        height: 350px;
        width: 270px;
    }
    .page-2 .imgContent .food-content .food-info p{
        font-size: 16px;
    }
    .page-2 .imgContent .food-content .food-info h5{
        font-size: 16px;
    }
    .page-2 .headText{
        height: 60px;
        width: 250px;
    }
    .page-2 .paraText p{
        width: 250px;
    }
    .page-3{
        padding:0 20px;
    }
    .page-3 .lorem-image{
        height: 80px;
        width: 300px;
        padding-top: 20px;
    }
    .page-3 .text{
        width: 100%;
    }
    .page-3 .text div p{
        text-align: start;
        font-family: sans-serif;
        font-size: 10px;
        line-height: 15px;
    }
    .direction{
        flex-direction: column-reverse;
    }
    .page-4{
        flex-direction: column;
        gap: 50px;
        padding: 10px 20px;
    }
    .page-4 .image{
        width: 100%;
    }
    .page-4 .text{
        width: 100%;
    }
    .page-4 .text h1{
        font-size: 30px;
    }
    .page-4 .text p{
        margin-top: 15px;
        font-size: 16px;
        line-height: 20px;
    }
    .page-4 .text button{
        height: 30px;
        width: 120px;
        font-size: 12px;
    }
    .page-4 .leef{
        left: 15%;
        bottom: -13%;
        height: 30%;
        width: 60%;
    }
    .page-5{
        height: 40vh;
    }
    .footer .second{
        flex-direction: column;
        gap: 30px;
    }
}
@media screen and (max-width: 421px){
    .header nav .search {
        display: none;
    }
    .header .content .foodArea .plate{
        height: 250px;
        width: 250px;
    }
    .header .content .foodArea .leef{
        height: 150px;
        width: 200px;
    }
    .page-3{
        height: 100%;
        padding: 20px;
    }
    .page-3 .text{
        flex-direction: column;
    }
    .page-3 .text div p{
        font-size: 12px;
    }
    .page-3 .lorem-image{
        height: 80px;
        width: 250px;
    }
    .page-4 .text h1{
        font-size: 23px;
    }
    .page-4 .text p{
        font-size: 10px;
        line-height: 15px;
    }
    .page-5{
        height: 40vh;
    }
    .page-5 .info p{
       font-size: 12px;
    }
}

@media screen and (max-width: 360px){
    .header .content .textArea .text{
        height: 80px;
        width: 250px;
    }
    .header .content .foodArea .plate{
        height: 200px;
        width: 200px;
    }
    .header .content .foodArea .bowl{
        height: 100px;
        width: 90px;
    }
    .page-2 .imgContent .food-content{
        height: 250px;
        width: 170px;
    }
    .page-2 .imgContent .food-content .food-info p{
        font-size: 10px;
    }
    .page-2 .imgContent .food-content .food-info h5{
        font-size: 12px;
    }
    .page-2 .headText{
        height: 50px;
        width: 200px;
    }
    .page-2 .paraText p{
        width: 100%;
    }
    .page-3 .lorem-image{
        height: 70px;
        width: 200px;
    }
    .page-4 .text h1{
        font-size: 18px;
    }
    .page-4 .text p{
        font-size: 10px;
        line-height: 15px;
    }
    .page-4 .text button{
        height: 30px;
        width: 80px;
        font-size: 8px;
    }
    .page-5{
        height: 40vh;
    }
}

@media screen and (max-width: 260px){
    .header .content .textArea .text{
        height: 40px;
        width: 120px;
    }
    .header nav .menu ul li{
        font-size: 8px;
        gap: 0;
    }
    .header .content .textArea .logo{
        height: 50px;
        width: 50px;
    }
    .header .content .textArea .info h3{
        font-size: 10px;
    }
    .header .content .textArea .info button{
        height: 20px;
        width: 100px;
        border: none;
        border-radius: 5px;
        margin: 10px 0 0 30px;
    }
    .header .content .textArea .info p{
       font-size: 10px;
    }
    .header .content .foodArea .plate{
        height: 150px;
        width: 150px;
    }
    .header .content .foodArea .bowl{
        height: 70px;
        width: 60px;
    }
    .header .content .foodArea .leef{
        height: 100px;
        width: 150px;
    }
    .page-3{
        gap: 20px;
    }
    .page-3 .lorem-image{
        height: 60px;
        width: 150px;
    }
    .page-3 button{
        width: 80px;
        height: 20px;
        font-size: 10px;
    }
    .page-4 .text h1{
        font-size: 16px;
    }
    .page-4 .text p{
        font-size: 8px;
        line-height: 12px;
    }
    .page-4 .text button{
        height: 20px;
        width: 60px;
        font-size: 6px;
    }
    .page-5{
        height: 30vh;
    }
}
